<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/bases::layout(~{::section})}">

<head>
	<meta charset="UTF-8">


</head>

<body>
	<section>
		<nav id="sidebar">

			<div class="management-title">QUẢN LÝ</div> <!-- Chữ QUẢN LÝ ở đây -->
			<a href="/admin/users">Quản lý người dùng</a>
			<a href="/admin/category">Quản lý danh mục</a>
			<a href="/admin/publisher">Quản lý NXB</a>
			<a href="/admin/view_admin_book">Quản lý Sách</a>
			<a href="/admin/orders">Quản lý đơn hàng</a>
			<a href="/admin/feedback_list">Danh sách phản hồi</a>
			<a href="#">Quản lý bài đăng</a>

		</nav>
		<div id="content" class="content-wrapper">
			<div class="container ">
			       <h1 class="mb-3">THỐNG KÊ</h1>
			       <p>Trang thống kê</p>
			       <div class="row">
			           <div class="col-md-3">
			               <div class="card card-blue">
			                   <div class="card-body">
			                       <h7 class="card-title">TỔNG SỐ ĐƠN HÀNG (3)</h5>
			                        <hr style="border-top: 2px solid black;">
			                       <a href="#" class="btn btn-light btn-sm">Chi tiết &gt;</a>
			                   </div>
			               </div>
			           </div>
			           <div class="col-md-3">
			               <div class="card card-yellow">
			                   <div class="card-body">
			                       <h7 class="card-title">ĐÁNH GIÁ (15)</h5>
			                        <hr style="border-top: 2px solid black;">
			                       <a href="#" class="btn btn-light btn-sm">Chi tiết &gt;</a>
			                   </div>
			               </div>
			           </div>
			           <div class="col-md-3">
			               <div class="card card-green">
			                   <div class="card-body">
			                       <h7 class="card-title">SẢN PHẨM (6)</h5>
			                        <hr style="border-top: 2px solid black;">
			                       <a href="#" class="btn btn-light btn-sm">Chi tiết &gt;</a>
			                   </div>
			               </div>
			           </div>
			           <div class="col-md-3">
			               <div class="card card-red">
			                   <div class="card-body">
			                       <h7 class="card-title">THÀNH VIÊN (13)</h1>
			                        <hr style="border-top: 2px solid black;">
			                       <a href="#" class="btn btn-light btn-sm">Chi tiết &gt;</a>
			                   </div>
			               </div>
			           </div>
			       </div>
			   </div>
		</div>
	</section>
</body>

</html>